*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: tomato;
}
#menu ul{
    list-style-type: none;
    text-align: center;
    background-color: rgb(44, 217, 44);
}
#menu ul li{
    display: inline-table;
    color: black;
    line-height: 45px;
    width: 150px;
    position: relative;
}
#menu ul li a{
    color: white;
    text-decoration: none;
    display: block;
}
#menu ul li a:hover{
    background-color: yellow;
    color: black;
}
#menu ul li .menucon{
    display: none;
    position: absolute;
}
#menu ul li:hover .menucon{
    display: block;
}
#footer {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    background-color: #838383;
}
#conten div{
    display: flex;
    justify-content: center;
   
}
#conten div p{
    display: block;
    position: absolute;
    margin-top: 120px;
    /* right:125px;
    top: 120px; */
}

